<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        p {
            line-height: 50px;
        }
        
        a {
            font-size: 4rem;
            text-decoration: none
        }
        
        span {
            border: solid;
            display: inline-block;
            box-sizing: border-box;
/*            */
            height: 200px;
            line-height: 200px;
        }
    </style>
</head>
<body>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veritatis voluptate error deserunt asperiores, adipisci ipsum ducimus, nihil vitae commodi perspiciatis qui minima itaque laboriosam, iure. Totam excepturi animi expedita sint quasi ducimus, accusantium sequi! Autem animi consequuntur aliquid veritatis dignissimos alias dolorum, inventore nemo hic, enim ipsam, itaque repudiandae.</p>
    
    <span>
        <a href="">a link</a>
    </span>
    
</body>
</html>