<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #container {
            width: 300px;
            border: solid;
            height: 300px;
/*           default */
            overflow: visible;
            overflow: hidden;
            overflow: scroll;
            overflow: auto;
            overflow-x: auto;
        }
        
        .item {
            width: 2000px;
            background: linear-gradient(40deg, red,orange,yellow,green,cyan,blue,purple);
            height: 2000px;
        }
    </style>
</head>
<body>
    
<!--    #container>.item-->
    <div id="container">
        <div class="item"></div>
    </div>
    
</body>
</html>