<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #container {
            border: solid;
            background-color: grey;
            overflow: auto
        }

        .item {
            height: 300px;
            width: 300px;
            background-color: deepskyblue;
            /*            */
            float: left
        }
    </style>
</head>

<body>

    <div id="container">
        <div class="item"></div>
    </div>

</body></html>